*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 20px 0;
}
.my-gallery{
    width: 90%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 60px auto;

}

img{
    width: 200px;
    height: auto;
}